 * {
     margin: 0;
     padding: 0;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     transition: 1s ease-in;
     scroll-behavior: smooth;
 }

 .main {
     width: 100%;
     height: 100%;
     position: relative;
     overflow: hidden;
     background: white;
 }

 section {
     height: 100%;
     width: 100%;
 }

 nav {
     width: 80%;
     position: sticky;
     margin: 20px auto;
     z-index: 1;
     display: flex;
     align-items: center;
 }

 .logo img {
     width: 150px;
 }

 .img50 {
     width: 100%;
     height: 100%;
 }

 .img25 {
     width: 100%;
     height: 100%;
     display: none;
 }

 .img10 {
     width: 100%;
     height: 100%;
     display: none;
 }

 .nav-links {
     -webkit-animation: fadein 1s;
     /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s;
     /* Firefox < 16 */
     -ms-animation: fadein 1s;
     /* Internet Explorer */
     -o-animation: fadein 1s;
     /* Opera < 12.1 */
     animation: fadein 1s;
     flex: 1;
     text-align: right;
 }

 .nav-links ul li {
     list-style: none;
     display: inline-block;
     margin: 0 20px;
 }

 .nav-links ul li a {
     color: black;
     text-decoration: none;
     font-weight: 900;
 }

 .home {
     position: relative;
 }

 .home h1 {
     -webkit-animation: fadein 3s;
     /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s;
     /* Firefox < 16 */
     -ms-animation: fadein 3s;
     /* Internet Explorer */
     -o-animation: fadein 3s;
     /* Opera < 12.1 */
     animation: fadein 3s;
     z-index: 2;
     position: absolute;
     top: 5%;
     left: 0;
     right: 0;
     font-size: 40px;
     margin-top: -13px;
     text-align: center;
 }

 .image {
     position: relative;
 }

 .image h2 {
     position: absolute;
     left: 0;
     right: 0;
     font-size: 40px;
     margin-top: -13px;
     text-align: center;
 }

 .launch h2, .image h2, .hardware h2, .information h2 {
     font-size: calc(1rem*3.05176);
     font-weight: 300;
     margin-top: -13px;
     text-align: center;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .launch iframe, .hardware iframe {
     display: block;
     margin: 0 auto;
     width: 70%;
     height: 70vh;
     margin-bottom: 100px;
 }

 .home h3 {
     -webkit-animation: fadein 3s;
     /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s;
     /* Firefox < 16 */
     -ms-animation: fadein 3s;
     /* Internet Explorer */
     -o-animation: fadein 3s;
     /* Opera < 12.1 */
     animation: fadein 3s;
     z-index: 2;
     position: absolute;
     top: 85%;
     left: 0;
     right: 0;
     font-size: 30px;
     margin-top: -13px;
     text-align: center;
 }

 .home img {
     -webkit-animation: fadein 1s;
     /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s;
     /* Firefox < 16 */
     -ms-animation: fadein 1s;
     /* Internet Explorer */
     -o-animation: fadein 1s;
     /* Opera < 12.1 */
     animation: fadein 1s;
 }

 @keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 /* Firefox < 16 */

 @-moz-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 /* Safari, Chrome and Opera > 12.1 */

 @-webkit-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 /* Internet Explorer */

 @-ms-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 /* Opera < 12.1 */

 @-o-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

 .ps5desc {
     width: 70%;
     margin: 0 auto;
 }

 .ps5desc h3 {
     text-align: center;
     font-size: 35px;
     margin-bottom: 15px;
 }

 .ps5desc p {
     font-size: 18px;
     text-align: center;
     letter-spacing: 1px;
 }

 #circle {
     z-index: 2;
     position: relative;
     margin: 0 auto;
     width: 1000px;
     height: 1000px;
     border-radius: 50%;
     transform: rotate(0deg);
 }

 .one {
     bottom: 120px;
     left: 420px;
 }

 .two {
     bottom: 300px;
     right: 200px;
     transform: rotate(-72deg);
 }

 .three {
     top: 200px;
     right: 280px;
     transform: rotate(-144deg);
 }

 .four {
     top: 150px;
     left: 300px;
     transform: rotate(-216deg);
 }

 .five {
     bottom: 300px;
     left: 200px;
     transform: rotate(-288deg);
 }

 .feature {
     width: 128px;
     text-align: center;
     position: absolute;
     color: black;
 }

 .information {
     position: relative;
 }

 .features {
     position: relative;
     background: lightgrey;
 }

 .information #ps5features {
     height: 60vh;
     z-index: 2;
 }

 #leftArrow {
     width: 100px;
     margin-right: 100px;
     height: 100px;
     cursor: pointer;
     transform: rotate(-90deg);
 }

 #rightArrow {
     margin-left: 100px;
     width: 100px;
     height: 100px;
     cursor: pointer;
     transform: rotate(90deg);
 }

 .active {
     opacity: 1;
 }

 .inactive {
     opacity: 0;
 }

 .slider {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     position: absolute;
     left: 50%;
     right: 50%;
     z-index: 30;
 }

 .header {
     background-color: #fff;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
     width: 100%;
     z-index: 3;
     display: flex;
 }

 .header ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #fff;
     margin-left: auto;
 }

 .header li a {
     color: black;
     display: block;
     padding: 20px 20px;
     border-right: 1px solid #f4f4f4;
     text-decoration: none;
 }

 .header li a:hover, .header .menu-btn:hover {
     background-color: #f4f4f4;
 }

 .header .logo {
     display: block;
     float: left;
     font-size: 2em;
     padding: 10px 20px;
     text-decoration: none;
     color: #7D7D7D;
     opacity: 1.0;
     letter-spacing: 2px;
     text-transform: uppercase;
 }

 .header .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
 }

 .header .menu-icon {
     cursor: pointer;
     float: right;
     padding: 28px 20px;
     position: relative;
     user-select: none;
 }

 .header .menu-icon .nav-icon {
     background: #333;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
 }

 .header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
     background: #333;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
 }

 .header .menu-icon .nav-icon:before {
     top: 5px;
 }

 .header .menu-icon .nav-icon:after {
     top: -5px;
 }

 .header .menu-btn {
     display: none;
 }

 .header .menu-btn:checked~.menu {
     max-height: 240px;
 }

 .header .menu-btn:checked~.menu-icon .nav-icon {
     background: transparent;
 }

 .header .menu-btn:checked~.menu-icon .nav-icon:before {
     transform: rotate(-45deg);
     top: 0;
 }

 .header .menu-btn:checked~.menu-icon .nav-icon:after {
     transform: rotate(45deg);
     top: 0;
 }

 @media screen and (max-width:1366px) {
     .img50 {
         display: none;
     }
     .img25 {
         display: inherit;
     }
     h1, h2 {
         font-size: 30px !important;
     }
     h3 {
         font-size: 25px !important;
     }
     #ps5features {
         height: 50vh;
     }
     #leftArrow, #rightArrow {
         width: 70px;
         height: 70px;
     }
     #circle {
         width: 800px;
         height: 800px;
     }
     .one {
         bottom: 10%;
         left: 33%;
     }
     .two {
         bottom: 25%;
         right: 10%;
     }
     .three {
         top: 15%;
         right: 18%;
     }
     .four {
         top: 15%;
         left: 20%;
     }
     .five {
         bottom: 30%;
         left: 10%;
     }
     .feature {
         width: 256px;
     }
 }

 @media (min-width: 801px) {
     .header li {
         float: left;
     }
     .header li a {
         padding: 20px 30px;
     }
     .header .menu {
         clear: none;
         float: right;
         max-height: none;
     }
     .header .menu-icon {
         display: none;
     }
 }

 @media (max-width:801px) {
     .header {
         display: block;
     }
     .header .logo {
         font-size: 1.5em;
         padding: 18px 20px;
         width: 100px;
         height: 22px;
     }
     iframe {
         width: 90% !important;
         height: 40vh !important;
     }
     .launch h2, .image h2, .hardware h2, .information h2 {
         margin-top: 8px;
     }
     h1, h2 {
         font-size: 25px !important;
     }
     .launch iframe, .hardware iframe {
         margin-bottom: 20px;
     }
     section {
         margin: 30px 0px 30px 0px;
     }
     .information #ps5features {
         height: 45vh;
     }
     .main {
         overflow-x: hidden;
         overflow-y: auto;
     }
     #home {
         margin-top: 0px;
     }
 }

 @media screen and (max-width:450px) {
     .img25 {
         display: none;
     }
     .img50 {
         display: none;
     }
     .img10 {
         display: inherit;
     }
     h1, h2, h3 {
         font-size: 16px !important;
     }
     h1 {
         margin-top: -10px !important;
     }
     h2 {
         margin-bottom: 15px !important;
         margin-top: 0px !important;
     }
     h3 {
         margin-top: 0px !important;
     }
     section {
         margin: 15px 0px 15px 0px;
     }
     iframe {
         width: 100% !important;
         height: 30vh !important;
     }
     p {
         font-size: 12px !important;
     }
     .ps5desc {
         width: 90% !Important;
     }
     #leftArrow {
         margin-right: 10px;
     }
     #leftArrow, #rightArrow {
         width: 30px;
         height: 30px;
     }
     #circle {
         width: 100vw;
         height: 100vw;
         margin-top:20vh;
     }
     .feature {
         width: 128px;
     }
     .information #ps5features {
         height: 350px;
         width: 128px;
     }
     #rightArrow {
         margin-left: 10px;
     }
     .feature img {
         margin-bottom: 5px;
         width: 64px;
         height: 64px;
     }
     .one {
         bottom: 0%;
         left: calc((100vw - 128px)/2);
         right: 0%;
     }
     .two {
         top: 42%;
         right: 5%;
     }

     .three {
         top: 10%;
         right: 15%;
     }
     .four {
         top: 10%;
         left: 18%;
     }
     .five {
         bottom: 25%;
         left: 5%;
     }
     .information #ps5features {
         width: 128px;
     }
     .feature {
         height: 128px;
         width: 128px;
     }

     @media screen and (max-height:900px){
        #circle {
            margin-top: calc(5vh + 15vw)
        }
    }
    
     @media screen and (max-height:820px){
         #circle {
             margin-top: calc(15vh + 10vw);
         }
     }
    
     @media screen and (max-height:750px)
     {
         #circle{
            margin-top: 15vh;
         }
     }
    
     @media screen and (max-height:667px)
     {
            #circle{
                margin-top: calc(15vh + 15vw);
            }
     }
    
     @media screen and (max-height:568px)
     {
            #circle{
                margin-top: calc(25vh + 15%);
            }
     }
    
     @media screen and (max-width:374px)
     {
        #circle{
            margin-top:calc(18vh + 15vw);
        }
     }
    
     @media screen and (max-width:320px)
     {
        #circle{
            margin-top:35vh;
        }
     }
 }


 
 